<div id="sidebar" class="overflow-hidden p-0 d-none d-lg-block">
  <ul class="nav flex-column">
    <ul>
      <li class="nav-item"><a [routerLink]="['admin/dashboard']" routerLinkActive="active" class="nav-link"><img class="opacity-50" src="../../../../assets/img/ui/ico-hom.svg">
           Dashboard</a></li>
      <li class="nav-item"><a [routerLink]="['admin/customers']" routerLinkActive="active" class="nav-link"><img class="opacity-50" src="../../../../assets/img/ui/ico-cus.svg">
         Customers</a></li>
        <li class="nav-item"><a [routerLink]="['admin/products']" routerLinkActive="active" class="nav-link"><img class="opacity-50" src="../../../../assets/img/ui/ico-pro.svg">
           Products</a></li>
        <li class="nav-item"><a [routerLink]="['admin/orders']" routerLinkActive="active" class="nav-link"><img class="opacity-50" src="../../../../assets/img/ui/ico-ord.svg">
           Orders</a></li>
        <li class="nav-item"><a [routerLink]="['admin/agents']" routerLinkActive="active" class="nav-link"><img class="opacity-50" src="../../../../assets/img/ui/ico-cus.svg">
          Agents</a></li>
      <li class="nav-item"><a [routerLink]="['admin/categories']" routerLinkActive="active" class="nav-link"><img class="opacity-50" src="../../../../assets/img/ui/ico-cat.svg">
         Categories</a></li>

      <li class="nav-item"><a [routerLink]="['admin/attributes']" routerLinkActive="active" class="nav-link"><img class="opacity-50" src="../../../../assets/img/ui/ico-att.svg">
         Attributes</a></li>
      <li class="nav-item"><a target="_blank" href="https://print-stock.co.uk/wp-login.php" class="nav-link"><img class="opacity-50" src="../../../../assets/img/ui/ico-wor.svg">
         Wordpress</a></li>
    </ul>
  </ul>
</div>